// app global css in SCSS form

//Forgot password and login
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #E0E4EB;
}

#fundoForgotPassword {
    background-color: #121F2F;
}

#fundoLogin {
    background-color: #121F2F;
    font-size: 90%;
}

.formLogin {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}

.formLogin img {
    display: none;
}

.input {
    background-color: #404668;
    width: 150%;

    .q-field__label {
        color: #f0f0f0;
        border-color: #00ffcc;
    }
}

.input .q-field__native {
    color: white;
    /* cor do texto digitado */
}


#logIn {
    width: 50%;
    background-color: #F7B176;
    color: #2B324E;
    font-weight: bolder;
}

#backButton {
    width: 50%;
    background-color: #404668;
    color: #F7B176;
    font-weight: bolder;
}


.containerLogin {
    width: 60%;
    background-color: #2B324E;
    color: white;
    display: flex;
    // height: 90%;
    border-radius: 25px;
}

#containerForgotPassword {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    font-size: 90%;
}


.logoSection img {
    width: 80px;
    margin-right: 10px;
    //   height: 100px;
}

.logoSection {
    display: flex;
    align-items: center;
    margin-bottom: 6%;
}

.containerLogin header {
    font-size: 250%;
    width: 150%;
    // margin-bottom: 2%;
}

.imgLogin {
    background-image: url("src/assets/fundoLogin.jpg");
    height: auto;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 2%;
    display: flex;
}

.imgLogin img {
    height: 60px;
}

#imgLogin {
    justify-content: flex-end;
}

.left {
    padding: 3%;
    padding-bottom: 5%;
    width: 55%;
    // background-color: #00ffcc;
}

#forgotPasswordLabel {
    text-decoration: none;
    color: white;
}

.buttons {
    display: flex;
    gap: 5%;
}

#imgForgotPassword {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: none;
}


@media (max-width: 768px) {

    // html,
    // body {
    //     // overflow-x: hidden;
    //     // overflow-y: hidden;
    // }


    .q-page .imgLogin {
        display: none;
    }

    .containerLogin {
        width: 90%;
        height: 75vh;
        padding-top: 10%;
    }

    #containerForgotPassword {
        width: 90%;
        height: 60vh;
        padding-top: 10%;
        display: block;
    }

    #formForgotPassword {
        width: 120%;
    }

    .formLogin {
        width: 115%;
    }

    .formLogin img {
        width: 70px;
        align-self: flex-end;
        display: block;
    }

    .containerLogin header {
        font-size: 170%;
    }

    .logoSection {
        width: 190%;
    }

    #imgForgotPassword {
        display: none;
    }
    .mainContainer{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sectionBottom{
        display: flex;
        flex-direction: column;
    }
    .sectionTop{
        display: flex;
        flex-direction: column;
    }
  
      .sectionTop,
  .sectionBottom {
    display: flex;
    flex-direction: column; // fica um embaixo do outro
    gap: 15px;
    width: 100%;
  }

  .cardSection,
  #gridDashboard {
    width: 100% !important; // ocupa 100% da largura da tela
    margin-bottom: 15px;
  }

  #chartPieSection {
    width: 100% !important;
  }
}

//Main layout

.header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 10%;
    color: #121F2F;
}

.sideBar {
    background-color: #121F2F;
    color: white;
    padding-top: 4%;
    font-size: 120%;
}

.sideBar img {
    width: 70px;
}

.headerSideBar {
    padding-left: 10%;
    display: flex;
    align-items: center;
    font-size: 140%;
    gap: 25px;
    color: white;
}

.menu-item {
    padding-left: 11%;
    margin: 5% 0;
    /* espaçamento vertical */
}

#toolBarImg {
    width: 70px;
}

.menu-item:hover {
    padding-left: 10%;
    transition: 0.7s;
}

//dashboard

.dashboardContainer {
    // height: 100%;
    width: 100%;
    // background-color: #00ffcc;

}

.sectionTop {
    width: 100%;
    gap: 1%;
    display: flex;
    margin-bottom: 0.6%;
}

.sectionBottom {
    display: flex;
    height: 50%;
    width: 100.5%;
    gap: 0.6%;
}

.headerContainerChart {
    font-size: 180%;
    // font-weight: 500;
    padding: 2%;
}

.cardSection {
    // padding: 30px;
    border-radius: 16px;
    width: 35%;
}

#gridDashboard {
    width: 65%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
}


#chartPieBottom {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%; // trava o tamanho máximo
    max-height: 190px;
    margin: auto;
}


.numberOfUsers {
    height: auto;
    width: 40%;
    border-radius: 15px;
    background-color: white;
}

#usersData {
    background: transparent;
    box-shadow: none;
}

#numberOfUsers {
    background-color: white;
}

#numberOfAdmins {
    background-color: white;
}

.headerUsers {
    border-bottom: 2px solid black;
}

.headerContainerChart {
    font-size: 140%;
}

#tableDashboard{
    height: 90%;
}