.mainContainer{
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.headerTitle{
    font-size: 40px;
    color: #121F2F;
    display: flex;
    align-items: center;
    gap: 10px;
}