//Body
.mainContainer {
    height: 100%;
    width: 100%;
    padding: 2.5%;
}

.headerTitle {
    font-size: 40px;
    color: #121F2F;
    display: flex;
    align-items: center;
    gap: 10px;
}

.topTittle {
    font-size: 30px;
}

//Search bar
.searchContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.search {
    height: 7vh;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    padding-left: 10px;
    color: #121F2F99;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

.searchIcon {
    font-size: 20px;
}

.addButton {
    width: 18vh;
    height: 7vh;
    border-radius: 10px;
    background-color: #F7B176;
    color: #2B324E;
    font-weight: bolder;
}

//table

.gridContainer {
    max-height: 500px;
    // background-color: #121F2F;
}

.tableContainer {
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.headerTable :hover {
    background-color: #121F2F;
}

.my-table {
    background-color: transparent;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

    thead th {
        background-color: #121f2f; // cabeçalho
        color: #fff;
        font-weight: 600;
    }

    tbody tr:nth-child(even) {
        background-color: #d7dee7; // zebra rows
    }

    tbody tr:hover {
        background-color: #ffe3a7; // hover
        cursor: pointer;
    }

    // td {
    //     padding: 12px;
    // }
}

.text-h6 {
    background-color: transparent;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.my-table .q-table__middle table {
    table-layout: fixed;
    /* força largura fixa */
    width: 100%;
}

.my-table td,
.my-table th {
    white-space: normal !important;
    /* permite quebrar texto */
    word-wrap: break-word;
}

/* borda vertical nas células */
.my-table .q-td,
.my-table .q-th {
    border-left: 1px solid #ccc;
}

/* remove a borda da primeira coluna */
.my-table .q-td:first-child,
.my-table .q-th:first-child {
    border-left: none;
}

.my-table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.my-table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.my-table {
    //   border: none !important;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {

    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }

    .my-table td {
        display: block;
        /* cada célula vira "linha" */
        text-align: left;
        padding-left: 130px;
        /* espaço pro label */
        position: relative;
        display: flex;
        align-items: center;
    }

    #publishersTable td {
        padding-left: 90px;
    }

    #gridDashboard td {
        width: 100% !important;
        padding-left: 150px;
    }

    .my-table td::before {
        content: attr(data-label);
        /* pega o data-label */
        position: absolute;
        font-weight: bold;
        display: flex;
        align-items: center;
        padding-left: 2%;
    }

    /* esconde o cabeçalho no mobile */
    .my-table thead {
        display: none;
    }
}