//Body
.mainContainer {
    height: 100%;
    width: 100%;
    padding: 2.5%;
}

.headerTitle {
    font-size: 40px;
    color: #121F2F;
    display: flex;
    align-items: center;
    gap: 10px;
}

.topTittle {
    font-size: 30px;
}

//Search bar
.searchContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchBar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.search {
    height: 7vh;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    padding-left: 10px;
    color: #121F2F99;
}

#searchInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.search label {
    height: 20px;
}

.searchIcon {
    font-size: 20px;
}

.addButton {
    width: 18vh;
    height: 7vh;
    border-radius: 10px;
    background-color: #F7B176;
    color: #2B324E;
    font-weight: bolder;
}

//table

.gridContainer {
    max-height: 500px;
    // background-color: #121F2F;
}

tr:hover {
    background-color: #858585;
}

.headerTable :hover {
    background-color: #121F2F;
}

.tableTittle {
    text-align: center;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 16px;
}



.my-table {
    background-color: #f9fafb; // cor do fundo
    border-radius: 12px;
    font-size: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);


    thead th {
        background-color: #121f2f; // cabeçalho
        color: #fff;
        font-weight: 600;
    }

    tbody tr:nth-child(even) {
        background-color: #d7dee7; // zebra rows
    }

    tbody tr:hover {
        background-color: #d6e5f8; // hover
        cursor: pointer;
    }

    td {
        padding: 12px;
    }
}

.text-h6 {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media screen and (max-width: 600px) {

  

    table thead {
        display: none;
    }

    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }
}